{% extends 'diet_app/layout/base.html' %}
{% load widget_tweaks %}

{% block content %}
  <div class="box">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          {% block header-title %}
            {{ page_name }}
          {% endblock header-title %}
        </h3>

        <div class="ml-auto">
          <form method="POST">
            {% csrf_token %}
            {% block header-buttons %}
              <a href="{% url 'add-view' %}" class="btn btn-primary" type="submit" name="submit" value="add">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-plus" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z"/>
                  <circle cx="12" cy="12" r="9" />
                  <line x1="9" y1="12" x2="15" y2="12" />
                  <line x1="12" y1="9" x2="12" y2="15" />
                </svg>
                Add Data
              </a>
            {% endblock header-buttons %}
          </form>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-vcenter card-table">
          <tbody>
            <tr>
              <th scope="row" width="25%">
                <div class="ml-4">
                  Name
                </div>
              </th>
              <td>
                {{ object.name }}
              </td>
            </tr>

            <tr>
              <th scope="row" width="25%">
                <div class="ml-4">
                  URL
                </div>
              </th>
              <td>
                {{ object.urls }}
              </td>
            </tr>

            <tr>
              <th scope="row" width="25%">
                <div class="ml-4">
                  Photo Upload
                </div>
              </th>
              <td>
                <img src="{{ object.photo_upload.url }}">
              </td>
            </tr>

            <tr>
              <th scope="row" width="25%">
                <div class="ml-4">
                  Photo Name
                </div>
              </th>
              <td>
                {{ object.photo_name }}
              </td>
            </tr>

            <tr>
              <th scope="row" width="25%">
                <div class="ml-4">
                  Cover Upload
                </div>
              </th>
              <td>
                <img src="{{ object.cover_upload.url }}">
              </td>
            </tr>

            <tr>
              <th scope="row" width="25%">
                <div class="ml-4">
                  Cover Name
                </div>
              </th>
              <td>
                {{ object.cover_name }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="card-footer">
        <form method="POST">
          {% csrf_token %}
          <span class="d-flex">
            <a href="{% url 'search-view' %}" class="btn btn-sm btn-success m-1" type="button" name="submit" value="view">
	      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" /><rect x="9" y="3" width="6" height="4" rx="2" /><line x1="9" y1="12" x2="9.01" y2="12" /><line x1="13" y1="12" x2="15" y2="12" /><line x1="9" y1="16" x2="9.01" y2="16" /><line x1="13" y1="16" x2="15" y2="16" /></svg>
              List
            </a>

            <a href="edit" class="btn btn-sm btn-warning  m-1" type="button" name="submit" value="edit">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z"/>
                <path d="M9 7 h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3" />
                <path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3" />
                <line x1="16" y1="5" x2="19" y2="8" />
              </svg>
              Edit
            </a>

            <a href="delete" class="btn btn-sm btn-danger  m-1" type="button" name="submit" value="delete">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z"/>
                <line x1="4" y1="7" x2="20" y2="7" />
                <line x1="10" y1="11" x2="10" y2="17" />
                <line x1="14" y1="11" x2="14" y2="17" />
                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
              </svg>
              Delete
            </a>
          </span>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
