{% extends 'diet_app/layout/base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="row">
    <div class="col-12">
      <form method="post" enctype="multipart/form-data" class="card">
            {% csrf_token %}
            <div class="card-header">
                <h4 class="card-title">Add/Update Data</h4>
            </div>

            <div class="card-body">
                <div class="row">
                  {% for field in form %}
                    {% if field.label == "Purpose" or field.label == "Blog URL" or field.label == "Notes" %}
                      <div class="form-group col-12 mb-3">
                    {% else %}
                      <div class="form-group col-6 mb-3">
                    {% endif %}
                        {{ field.label }}
                        {% if field|field_type == "typedchoicefield" or field|field_type == "modelchoicefield" %}
                        {{ field|add_class:"form-select mt-1" }}
                        {% elif field|field_type == "datefield" %}
                        <div class="input-icon">
                            <input type="date" name="{{ field.name }}" value="{{ field.value|date:'d-m-Y' }}" class="form-control flatpickr-input calendar-time" placeholder="Select a date" />
                            <span class="input-icon-addon"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><rect x="4" y="5" width="16" height="16" rx="2" /><line x1="16" y1="3" x2="16" y2="7" /><line x1="8" y1="3" x2="8" y2="7" /><line x1="4" y1="11" x2="20" y2="11" /><line x1="11" y1="15" x2="12" y2="15" /><line x1="12" y1="15" x2="12" y2="18" /></svg>
                            </span>
                        </div>
                        {% else %}
                        {{ field|attr:"class:form-control mt-1" }}
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="card-footer text-right">
                <div class="d-flex">
                    <a href="list" class="btn btn-link">Cancel</a>
                    <button type="submit" class="btn btn-primary ml-auto">Submit</button>
                </div>
            </div>

        </form>
    </div>
</div>
{% endblock content %}
{% block scripts %}
  <script>
    $(document).ready(function () {

      //Initialize flatpcikr calendar
      flatpickr($(".calendar-time"), { dateFormat: "Y-m-d" });

      //Set width of the calendar to that of the date field column
      $(".flatpickr-calendar").first().outerWidth($("#calendar-time").outerWidth());


      // Initialize flatpickr time
      flatpickr($("[id^=id_time_]"), {
        enableTime: true,
        noCalendar: true,
        dateFormat: "H:i",
      });

    });
  </script>
{% endblock scripts %}
