{% load static %}
<aside class="navbar navbar-vertical navbar-expand-lg navbar-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="." class="navbar-brand navbar-brand-autodark">
          <img src="{% static 'diet_app/images/logo.png' %}" height="32" alt="DIET logo" class="navbar-brand-image" style="height:auto">
        </a>
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="navbar-nav pt-lg-3">
                <li class="nav-item m-2">
                  <a class="nav-link" href="{% url 'search-view' %}" >
                    <span class="nav-link-icon d-md-none d-lg-inline-block mb-1">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 4h11a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-11a1 1 0 0 1 -1 -1v-14a1 1 0 0 1 1 -1m3 0v18" /><line x1="13" y1="8" x2="15" y2="8" /><line x1="13" y1="12" x2="15" y2="12" /></svg>
                    </span>
                    <span class="nav-link-title ml-1">
                        Diary Entries
                    </span>
                  </a>
                </li>
                <li class="nav-item m-2">
                    <a class="nav-link" href="{% url 'add-view' %}" >
                      <span class="nav-link-icon d-md-none d-lg-inline-block mb-1">
	                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 7h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3" /><path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3" /><line x1="16" y1="5" x2="19" y2="8" /></svg>
                      </span>
                      <span class="nav-link-title ml-1">
                        Add
                      </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>
